body {
    border: 2px solid red;
    margin: 0;
    padding: 0;
    height: auto;
    width: 100%;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    background-color: #1f2937;
    margin-top: 10px;
    margin-top: 0;
}

.nav-logo {
    color: #f9faf8;
    font-size: 24px;
    margin-left: 400px;
}

li, a {
    display: inline;
    color: #f9faf8;
    text-decoration: none;
    list-style: none;
    margin: 30px;
}

ul {
    margin-right: 200px;
}

.hero-container {
    border: 2px solid red;
    display: flex;
    background-color: #1f2937;
    height: 220px;
}

.hero-text {
    border: 2px solid red;
    width: 40%;
}

.hero-image {
    border: 2px solid red;
    
}

.hero-button {
    background-color: #3882f6;
    margin: 0;
    padding: 5px 15px;
    border-radius: 5px;
}
h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    color: #f9faf8;
}

h1, p {
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

