.header {
    background-color: #1f2937;
    color: #f9faf8;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

h2 {
    text-align: center;
    color: #1f2937;
    font-weight: bolder;
    font-size: 36px;
}

a {
    margin-left: 36px;
    text-decoration: none;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 32px;
    height: 300px;
}

.button-1,
.button-2,
.button-3,
.button-4 {
    background-color: white;
    border: 3px solid #3882f6;
    border-radius: 16px;
    padding: 36px;
    height: 150px;
    width: 150px;
}

.content-subtext {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    

}

.quote {
    background: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    background: #1f2937; 
    height: 50px;
    color: #f9faf8;
    display: flex;
    justify-content: center;     
}

